<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Home</title>
    <link rel="shortcut icon" type="img/png" href="{{ url_for('static', filename='small.png') }}">

    {#    player#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css"
          integrity="sha512-CIYsJUa3pr1eoXlZFroEI0mq0UIMUqNouNinjpCkSWo3Bx5NRlQ0OuC6DtEB/bDqUWnzXc1gs2X/g52l36N5iw=="
          crossorigin="anonymous"/>
    <style>
        h3 {
            font-size: 34px;
            margin-bottom: 34px;
            border-bottom: 2px solid #adadad;
            padding-bottom: 15px;
        }

        p {
            font-size: 15px;
            font-weight: 500;
        }

        h4 {
            font-size: 17px;
            text-transform: uppercase;
            margin-top: 15px;
            font-weight: 700;
        }
    </style>
</head>
<body class="bg-body">

{#loader#}

<div class="loader">
    <img src="{{ url_for('static', filename='loading.gif') }}" alt="Loading..."/>
</div>

<div>


    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">


                <img src="{{ url_for('static', filename='small.png') }}" width="32" height="30" alt="">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

                    <li><a href="#" class="nav-link px-5 text-secondary">Home</a></li>
{#                    <li><a href="#" class="nav-link px-5 text-white">Explore</a></li>#}
                    <li><a href="/playlist" class="nav-link px-5 text-white">Playlist</a></li>
                    <li><a href="/add_track" class="nav-link px-5 text-white">Add Track</a></li>
                    <li><a href="/index" class="nav-link px-5 text-white">index</a></li>
                    <li><a href="/logout" class="nav-link px-5 text-white">Logout</a></li>
                </ul>

                {#                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">#}
                {#                    <input type="search" class="form-control form-control-dark" placeholder="Search...">#}
                {#                </form>#}
                {##}
                {#                <div class="text-end">#}
                {#                    <button type="button" class="btn btn-outline-light me-2">Login</button>#}
                {#                    <button type="button" class="btn btn-warning">Sign-up</button>#}
                {#                </div>#}
            </div>
        </div>
    </header>

</div>
<h1>Welcome {{ session.username }} !!</h1>
<div>

    <div class="home-main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>New Release</h3>
                </div>
                {% if TRACKS | length == 0 %}
                    <h1>No Songs yet</h1>
                {% else %}

                    {#                    for i in TRACKS#}
                    {% for i in range(TRACKS | length) %}
                        <div class="col-md-3">
                            <a href="#" class="album-poster" data-switch="{{ i }}">
                                <img class="poster-attributes"
                                     src="https://firebasestorage.googleapis.com/v0/b/test-7bd1e.appspot.com/o/image%2F{{ TRACKS[i].album_link|safe }}.jpg?alt=media">
                            </a>
                            <h4>{{ TRACKS[i].track_name }}</h4>
                            <p>{{ TRACKS[i].artist }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
                {#                                <div class="col-md-3">#}
                {#                                    <a href="javascript:void();" class="album-poster">#}
                {#                                        <img class="poster-attributes" src="{{ url_for('static', filename='album-cov.jpg') }}">#}
                {#                                    </a>#}
                {#                                    <h4>Lorem ipsum {{ item }}</h4>#}
                {#                                    <p>Lorem ipsum - 2010</p>#}
                {#                                </div>#}
                {#                                <div class="col-md-3">#}
                {#                                    <a href="javascript:void();" class="album-poster">#}
                {#                                        <img class="poster-attributes" src="{{ url_for('static', filename='album-cov.jpg') }}">#}
                {#                                    </a>#}
                {#                                    <h4>Lorem ipsum</h4>#}
                {#                                    <p>Lorem ipsum - 2010</p>#}
                {#                                </div>#}
                {#                                <div class="col-md-3">#}
                {#                                    <a href="javascript:void();" class="album-poster">#}
                {#                                        <img class="poster-attributes" src="{{ url_for('static', filename='album-cov.jpg') }}">#}
                {#                                    </a>#}
                {#                                    <h4>Lorem ipsum</h4>#}
                {#                                    <p>Lorem ipsum - 2010</p>#}
                {#                                </div>#}
                {#                                <div class="col-md-3">#}
                {#                                    <a href="javascript:void();" class="album-poster">#}
                {#                                        <img class="poster-attributes" src="{{ url_for('static', filename='album-cov.jpg') }}">#}
                {#                                    </a>#}
                {#                                    <h4>Lorem ipsum</h4>#}
                {#                                    <p>Lorem ipsum - 2010</p>#}
                {#                                </div>#}
                {#                                <div class="col-md-3">#}
                {#                                    <a href="javascript:void();" class="album-poster">#}
                {#                                        <img class="poster-attributes" src="{{ url_for('static', filename='album-cov.jpg') }}">#}
                {#                                    </a>#}
                {#                                    <h4>Lorem ipsum</h4>#}
                {#                                    <p>Lorem ipsum - 2010</p>#}
                {#                                </div>#}
                {#                                <div class="col-md-3">#}
                {#                                    <a href="javascript:void();" class="album-poster">#}
                {#                                        <img class="poster-attributes" src="{{ url_for('static', filename='album-cov.jpg') }}">#}
                {#                                    </a>#}
                {#                                    <h4>Lorem ipsum</h4>#}
                {#                                    <p>Lorem ipsum - 2010</p>#}
                {#                                </div>#}
                {#                                <div class="col-md-3">#}
                {#                                    <a href="javascript:void();" class="album-poster">#}
                {#                                        <img class="poster-attributes" src="https://firebasestorage.googleapis.com/v0/b/test-7bd1e.appspot.com/o/image%2FStitches.jpg?alt=media">#}
                {#                                    </a>#}
                {#                                    <h4>Lorem ipsum</h4>#}
                {#                                    <p>Lorem ipsum - 2010</p>#}
                {#                                </div>#}


            </div>
        </div>

    </div>


</div>

<div style="padding-bottom: 15px" id="aplayer"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>

{#player#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js"
        integrity="sha512-RWosNnDNw8FxHibJqdFRySIswOUgYhFxnmYO3fp+BgCU7gfo4z0oS7mYFBvaa8qu+axY39BmQOrhW3Tp70XbaQ=="
        crossorigin="anonymous"></script>

<script>
    {#aplayer function#}

    $(".album-poster").on('click', function (e) {
        var dataSwitchID = $(this).attr('data-switch');
        console.log(dataSwitchID);
        {#let obj = ap.audio.find(o => o.dataswitchid === dataSwitchID);#}

        ap.list.switch(dataSwitchID);

        ap.play();
        $('#aplayer').addClass('showPlayer');
    });

    const ap = new APlayer({
        container: document.getElementById('aplayer'),
        listFolded: true,
        audio: [
            {% for i in TRACKS %}
                {
                    name: "{{ i.track_name }}",
                    artist: "{{ i.artist }}",
                    url: "https://firebasestorage.googleapis.com/v0/b/test-7bd1e.appspot.com/o/audio%2F{{ i.track_link|safe }}.mp3?alt=media",
                    cover: "https://firebasestorage.googleapis.com/v0/b/test-7bd1e.appspot.com/o/image%2F{{ i.album_link|safe }}.jpg?alt=media"
                },
            {% endfor %}
        ]
    });
</script>
<script>
    {#loader screen#}
    window.addEventListener("load", function () {
        const loader = document.querySelector(".loader");
        loader.className += " hidden"; //class loader hidden
    });


</script>

</body>
</html>