<!doctype html>
<html lang="en">
<head>
    <title>login</title>
    <link rel="shortcut icon" type="img/png" href="{{ url_for('static', filename='small.png') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="bg-body">

{#loader#}
<div class="loader">
    <img src="{{ url_for('static', filename='loading.gif') }}" alt="Loading..."/>
</div>


<nav class="navbar">
    <a class="navbar-brand text-dark " href="#" style="font-weight: 600;">
        <img src="{{ url_for('static', filename='small.png') }}" width="30" height="30" class="d-inline-block align-top"
             alt="">
        Music Catalogue Management System
    </a>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="text-dark display-4 mt-100" style="font-size:80px; font-weight: 400;">Bring The Power of Music
                With Just a Login</h1>
        </div>
        <div class="col-md-4">
            <div class="card mt-100 card-att">
                <div class="card-header sky-line text-white" style="border-top-left-radius: 15px; border-top-right-radius: 15px; font-size:25px; font-weight: 400;">Login</div>
                <div class="card-body">
                    <form class="form" method="post" action="/login_validation">
                        <label>Email</label><br>
                        <input type="email" class="form-control" name="lemail" required><br>
                        <label>Password</label><br>
                        <input type="password" class="form-control"  id="myInput" name="lpassword" required>

                        <p style="font-size:13px; vertical-align: middle;" class="mt-2 ml-2"><input  class="mr-1" style="vertical-align: middle; position: relative; bottom: 1px; " type="checkbox" onclick="myFunction()">
                            Show Password
                        </p>

                        <br>
                        <input type="submit" class="btn btn-primary btn-block byn-lg" value="login">
                    </form>
                    <br>
                    <p style="text-align: center;">Not a member? <a href="/signup" style="text-decoration:none;">Create
                        Account</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
<script>
    {#loader screen#}
    window.addEventListener("load",function () {
        const loader = document.querySelector(".loader");
        loader.className += " hidden"; //class loader hidden
    });
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>